/* common style start  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}

.container {
  max-width: min(1280px, calc(100% - 32px));
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #575757;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px 16px;
  transition: all 0.5s;
  font-weight: 700;
}

.common-btn {
  background-color: #1d4ed8;
  outline: 1px solid #1d4ed8;
  color: #fff;
}

.common-btn:hover {
  background-color: transparent;
  outline: 1px solid #1d4ed8;
  color: #1d4ed8;
}

.outline-btn {
  outline: 1px solid #1d4ed8;
}

.outline-btn:hover {
  background-color: #1d4ed8;
  color: #fff;
}
/* common style end  */

/* header style start  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
nav > ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.navLink {
  padding-bottom: 3px;
  border: 2px solid transparent;
  transition: all 0.5s;
}
.navLink:hover {
  border-bottom: 2px solid #1d4ed8;
}
/* header style end */

/* hero section style start */
#hero-section {
  background: url("../assets/banner.jpg") center/cover no-repeat;
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.hero-content {
  padding: 80px 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  text-align: center;
}
.hero-heading {
  font-size: 5rem;
  color: #fff;
}
.hero-heading > span {
  font-style: italic;
}
.hero-subHeading {
  max-width: 600px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.3;
}
.hero-btn {
  margin-top: 100px;
  padding: 15px 50px;
}
/* hero section style end */

/* Meet the Speakers section style start */
#speakers-section {
  margin: 80px 0px 140px;
}
.speakers-heading {
  font-size: 3.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.speakers-group {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.speakers-card {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.speakers-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.speakers-category {
  font-size: 12px;
  font-weight: 600;
  color: #2563eb;
}
.speakers-name {
  font-size: 20px;
  font-weight: 700;
  color: #0d1b2a;
}
.speakers-title {
  font-size: 14px;
  color: #575757;
}
/* Meet the Speakers section style end */
